.App {
  font-family: sans-serif;
  text-align: center;
  height: 100px;
}

.your-class {
  height: 1000px;
}
#mentor {
  color: white;
  font-size: 2.3em;
  text-align: center;
  padding-top: 70px;
}

.text-button-mentor {
  top: 11%;
  left: 12%;
  position: absolute;
}
a.text-button-mentor {
  text-decoration: none;
  font-size: 10px;
  color: rgb(69, 5, 141);
}
