.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-left: 0rem !important;
  padding-right: 0rem !important;
}
.row {
  margin-top: calc(-0 * var(--bs-gutter-y)) !important;
  margin-right: calc(-0 * var(--bs-gutter-x)) !important;
  margin-left: calc(-0 * var(--bs-gutter-x)) !important;
}
/* .cont-img {
  position: relative;
  z-index: 1;
  color: #db9847;
  background-color: #000118;
  height: 350px !important;
  width: 313px;
} */
.title-languaje {
  color: rgb(243, 240, 240);
  font-size: 23px;
  text-align: center;
}

.btn-toolbar {
  display: block !important;
}
.bton-filter {
  color: #fdfdfd;
  background: rgba(255, 0, 0, 0);
  border-style: inset;
  border-color: rgb(255, 255, 255);
}
.cont-text {
  background: rgb(184, 26, 142);
  padding-bottom: 100px;
}

.active {
  background-color: #ffffff;
  color: #1e0f02;
}
.title-filter {
  color: white;
  padding-top: 20px;
  font-size: 50px;
}
.title-prhase {
  color: white;
  padding-bottom: 20px;
  font-family: Yu Gothic;
  font-size: 20px;
}
.backgroundo {
  position: absolute;
  height: 260px !important;
  width: 260px;
  border-radius: 150px;
  background-color: #040000d0;
  right: 95px;
  bottom: 160px;
}
.background {
  position: absolute;
  height: 260px !important;
  width: 260px;
  border-radius: 150px;
  background-color: #040000d0;
}
.img-one {
  height: 260px;
  width: 260px !important;
  border-radius: 150px;
  position: relative;
  display: inline;
  border-top-right-radius: 0;
  border-top-left-radius: calc(10.25rem - 1px) !important;
  border-top-right-radius: calc(10.25rem - 1px) !important;
}

.space {
  margin-right: 10px;
}

.cardFooter {
  background-color: #f3f3f3 !important;
}

.name {
  color: rgb(108, 108, 108);
  font-size: x-large;
}
.category {
  color: rgb(108, 108, 108);
  font-size: medium;
  font-family: 'Georgia', serif;
}
.desc {
  color: rgb(108, 108, 108);
  font-size: medium;
}
.lastname {
  color: rgb(67, 66, 66);
  font-size: x-large;
}
.costo {
  color: rgb(67, 66, 66);
  font-size: x-large;
  padding-bottom: -90px;
}

.rojo {
  background-color: #f41919 !important;
  padding: 8px;
}

.azul {
  background-color: #349bd3;
  padding: 8px;
}

.naranja {
  background-color: #ce7d2d;
  padding: 8px;
}

.verde {
  background-color: #03d35d;
  padding: 8px;
}

/*  acordion*/
.accordion-item {
  border: 0px solid !important;
}

.accordion-button {
  text-align: center !important;
  display: block !important;
}

.accordion-button:not(.collapsed) {
  color: #0c63e4 !important;
  background-color: #e7f1ff00 !important;
  box-shadow: inset 0 -1px 0 rgba(255, 254, 254, 0.13) !important;
}
.accordion-button:focus {
  z-index: 3;
  border-color: #ff00af !important;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(255, 255, 255) !important;
}
